name: Build CLI and add it to release
on:
  release:
    types:
      - published

jobs:
  build:
    name: Build CLI and add it to release
    runs-on: windows-latest
    permissions:
      contents: write
    env:
      CLI_NAME: 'NativeAot.Cli.exe'
      PUBLISH_DIRECTORY: 'publish'
      PROJECT_PATH: 'src/NativeAot.Cli/NativeAot.Cli.csproj'
      VERSION: ${{ github.event.release.tag_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup .NET
        uses: actions/setup-dotnet@d4c94342e560b34958eacfc5d055d21461ed1c5d # v5.0.0
        with:
          global-json-file: 'global.json'
          source-url: ${{ vars.NUGET_FEED_URI }}
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.NUGET_GITHUB_PACKAGES_TOKEN }}
      - name: Publish CLI
        run: dotnet publish ${{ env.PROJECT_PATH }} -p:Version=${{ env.VERSION }} -r win-x64 -o ${{ env.PUBLISH_DIRECTORY }}
      - name: Add CLI to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ env.VERSION }} ${{ env.PUBLISH_DIRECTORY }}/${{ env.CLI_NAME }}
