name: Build CLI and add it to release
on:
  release:
    types:
      - published

jobs:
  build:
    name: Build CLI and add it to release
    runs-on: windows-latest
    permissions:
      contents: write
    env:
      CLI_NAME: 'NativeAot.Cli.exe'
      PUBLISH_DIRECTORY: 'publish'
      PROJECT_PATH: 'src/NativeAot.Cli/NativeAot.Cli.csproj'
      VERSION: ${{ github.event.release.tag_name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup .NET
        uses: actions/setup-dotnet@baa11fbfe1d6520db94683bd5c7a3818018e4309 # v5.1.0
        with:
          global-json-file: 'global.json'
          source-url: ${{ vars.NUGET_FEED_URI }}
        env:
          NUGET_AUTH_TOKEN: ${{ secrets.NUGET_GITHUB_PACKAGES_TOKEN }}
      - name: Publish CLI
        run: dotnet publish ${{ env.PROJECT_PATH }} -p:Version=${{ env.VERSION }} -r win-x64 -o ${{ env.PUBLISH_DIRECTORY }}
      - name: Add CLI to release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release upload ${{ env.VERSION }} ${{ env.PUBLISH_DIRECTORY }}/${{ env.CLI_NAME }}
